<%- include("includes/header"); %>

<script>

    function confirmar(mensagem) {
        console.log(event)
        const result = confirm(mensagem);

        if (!result) {
            return false;
        }
    }

</script>

<div class="container">
    <h3>Lista de Tarefas</h3>

    <div>
        <a type="button" class="btn btn-primary" href="/tasks/create/">Adicionar Tarefa</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="min-width: 200px">Título</th>
                <th scope="col" style="min-width: 300px">Descrição</th>
                <th scope="col">Concluído</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <% for(const task of tasks) { %>
            <tr class="<%= task.done == 1 ? 'concluido' : '' %>">
                <td><%= task.title %></td>
                <td><%= task.description %></td>
                <td><%= task.done == 1 ? "Sim" : "Não" %></td>
                <td>
                    <form action="/tasks/update-status/<%= task.id %>" method="POST" style="display: inline-block" onsubmit="return confirmar('Mudar status da tarefa?')">
                        <input type="hidden" name="done" value="<%= task.done %>">
                        <button type="submit" class="btn btn-warning">Status</button>
                    </form>
                    <a type="button" class="btn btn-success" href="/tasks/edit/<%= task.id %>">Editar</a>
                    <form action="/tasks/remove/<%= task.id %>" method="POST" style="display: inline-block" onsubmit="return confirmar('Tem certeza que deseja excluir essa tarefa?')">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

</div>

<%- include("includes/footer"); %>
