<%- include("includes/header"); %>

<div class="container">
    <h3 style="color: #fff">Editar Contato</h3>
    <hr>
    <form method="POST" action="/agendas/update">
        <input type="hidden" name="id" value="<%= agenda.id %>">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= agenda.name %>">
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= agenda.phoneNumber %>">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= agenda.email %>">
        </div>
        <div class="mb-3">
            <label for="rua" class="form-label">Rua</label>
            <input type="text" class="form-control" id="road" name="road" value="<%= agenda.road %>">
        </div>
        <div class="mb-3">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" id="number" name="number" value="<%= agenda.number %>">
        </div>
        <div class="mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="neighborhood" name="neighborhood" value="<%= agenda.neighborhood %>">
        </div>
        <div class="mb-3">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="city" name="city" value="<%= agenda.city %>">
        </div>
        <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="state" name="state" value="<%= agenda.state %>">
        </div>
        <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" value="<%= agenda.cep %>">
        </div>
        <div class="mb-3">
            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="complement" name="complement"
                value="<%= agenda.complement %>">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/agendas" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<%- include("includes/footer"); %>