<%- include("includes/header"); %>

<div class="container">
    <h3 style="color:#fff">Lista de Contatos</h3>
    <div>
        <a type="button" class="btn btn-primary" href="/agendas/create">Adicionar Contato</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="color: #fff">Nome</th>
                <th style="color: #fff">Celular</th>
                <th style="color: #fff">Email</th>
                <th style="color: #fff">Opções</th>
            </tr>
        </thead>
        <tbody>
            <% for(const agenda of agendas) { %>
                <tr>
                    <td>
                        <h6 style="color: #9e9e9e;"><%= agenda.name %></h6>
                    </td>
                    <td>
                        <h6 style="color: #9e9e9e;"><%= agenda.phoneNumber %></h6>
                    </td>
                    <td>
                       <h6 style="color: #9e9e9e;"><%= agenda.email %></h6>
                    </td>
                    <td>
                        <a class="btn btn-success" href="/agendas/edit/<%= agenda.id %>">Editar</a>
                        <form action="/agendas/remove/<%= agenda.id %>" method="POST" style="display: inline-block"
                            onsubmit="return confirm('Tem certeza que deseja excluir esse contato?')">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>


<%- include("includes/footer"); %>
